.choice-container{
    display:flex;
    margin-bottom:0.5rem;
    width:100%;
    font-size:1.8rem;
    border:0.1rem solid rgb(129, 241, 78, 0.541);
    background-color:white;
}
.choice-container:hover{
    cursor:pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #057721;
    transform: translateY(-0.1rem);
    transition:transform 150ms;
}
.choice-prefix{
    padding:1.5rem 2.5rem;
    background-color:rgb(105, 177, 33);
    color:white;
}
.choice-text{
    padding:1.5rem;
    width:100%;
}
.correct{
    background-color:#057721;
}
.incorrect{
    background-color:rgba(220, 20, 60, 0.911);
}
#hud{
    display:flex;
    justify-content:space-between;
}
.hud-prefix{
    text-align:center;
    font-size:2rem;
}
.hud-main-text{
    text-align:center;
}
#progressBar{
    width:20rem;
    height:4rem;
    border:0.3rem solid rgb(105, 177, 33);
    margin-top:1.5rem;
}
#progressBarFull{
    height:3.4rem;
    background-color:rgb(105, 177, 33);
    width:0%;
}
#loader{
    border:1.6rem solid white;
    border-radius:50%;
    border-top:1.6rem solid #057721;
    width:12rem;
    height:12rem;
    animation:spin 2s linear infinite;
}
@keyframes spin{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}